div.technologyItem {
    padding: 3px;
    display: flex;
    word-wrap: break-word;
    background-color: rgb(0, 129, 250);
    color: white;
    margin: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

div.technologyItem:hover {
    background-color: #89b3ff;
}

div.projectTechnologies {
    display: flex;
    align-items: flex-start;
    min-height: 75px;
    flex-wrap: wrap;
    margin-top: 5px;
}

div.githubInfo {
    display: flex;
    align-items: center;
}

a.githubProjectLink i {
    font-size: 30px;
    cursor: pointer;
}